@font-face {
    font-family: "MyDigitalFont";
    src: url("digital-7.ttf");
}

body {
    margin: 0;
    background-color: #1B244A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    gap: 60px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 40px;
    margin-bottom: 15px;
    font-family: Verdena, sans-serif;
}

.score-box {
    background-color: black;
    color: #F94F6D;
    width: 150px;
    height: 120px;

    font-family: "MyDigitalFont", sans-serif;

    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn-container {
    display: flex;
    gap: 10px;
}

button {
    background: transparent;
    border: 1px solid #9AABD8;
    color: #9AABD8;
    padding: 10px;
    font-family: "MyDigitalFont", sans-serif;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #9AABD8;
    color: #1B244A;
}

.new-game-btn {
    margin-top: 20px;
    /* Adds space above the button */
    padding: 10px 20px;
    background-color: white;
    color: #1B244A;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.new-game-btn:hover {
    background-color: #F94F6D;
    color: white;
}